@page "/question/{sessionId}/{questionnaireId}"

@rendermode InteractiveAuto
@inject NavigationManager NavManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient client

@using Blazored.LocalStorage
@using PersonalityGuru.Shared
@using PersonalityGuru.Shared.Models
@using PersonalityGuru;
@using System.Security.Claims
@using System.Text.Json

<head>
    <PageTitle>Question page</PageTitle>
</head>

<div class="progress questionnaire-progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: @progress%"></div>
</div>

@if (!loadedQuestion)
{
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
            style="shape-rendering: auto; display: block; background: rgb(255, 255, 255);" width="200" height="200"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
                <rect fill="#e15b64" height="40" width="15" y="30" x="17.5">
                    <animate begin="-0.2631578947368421s" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" values="18;30;30"
                        keyTimes="0;0.5;1" calcMode="spline" dur="1.3157894736842106s" repeatCount="indefinite"
                        attributeName="y"></animate>
                    <animate begin="-0.2631578947368421s" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" values="64;40;40"
                        keyTimes="0;0.5;1" calcMode="spline" dur="1.3157894736842106s" repeatCount="indefinite"
                        attributeName="height"></animate>
                </rect>
                <rect fill="#80c667" height="40" width="15" y="30" x="42.5">
                    <animate begin="-0.13157894736842105s" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"
                        values="20.999999999999996;30;30" keyTimes="0;0.5;1" calcMode="spline"
                        dur="1.3157894736842106s" repeatCount="indefinite" attributeName="y"></animate>
                    <animate begin="-0.13157894736842105s" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"
                        values="58.00000000000001;40;40" keyTimes="0;0.5;1" calcMode="spline"
                        dur="1.3157894736842106s" repeatCount="indefinite" attributeName="height"></animate>
                </rect>
                <rect fill="#7a64da" height="40" width="15" y="30" x="67.5">
                    <animate keySplines="0 0.5 0.5 1;0 0.5 0.5 1" values="20.999999999999996;30;30"
                        keyTimes="0;0.5;1" calcMode="spline" dur="1.3157894736842106s" repeatCount="indefinite"
                        attributeName="y"></animate>
                    <animate keySplines="0 0.5 0.5 1;0 0.5 0.5 1" values="58.00000000000001;40;40"
                        keyTimes="0;0.5;1" calcMode="spline" dur="1.3157894736842106s" repeatCount="indefinite"
                        attributeName="height"></animate>
                </rect>
                <g></g>
            </g>
        </svg>
    </div>
}

else
{
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="col-3" />
        <div class="flex-fill col-6">
            <div class="card" style="background-color: whitesmoke; margin-bottom: 16px; padding: 8px;">
                <h2>@QuestionText</h2>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="StronglyNo"
                           @onclick="@(answer => SelectOption(AnswerOption.StronglyNo))">
                    <label class="form-check-label" for="StronglyNo">
                        Точно нет
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="MaybeNo"
                           @onclick="@(answer => SelectOption(AnswerOption.MaybeNo))">
                    <label class="form-check-label" for="MaybeNo">
                        Скорее нет
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="Neutral"
                           @onclick="@(answer => SelectOption(AnswerOption.Neutral))">
                    <label class="form-check-label" for="Neutral">
                        Не знаю
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="MaybeYes"
                           @onclick="@(answer => SelectOption(AnswerOption.MaybeYes))">
                    <label class="form-check-label" for="MaybeYes">
                        Скорее да
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="StronglyYes"
                           @onclick="@(answer => SelectOption(AnswerOption.StronglyYes))">
                    <label class="form-check-label" for="StronglyYes">
                        Точно да
                    </label>
                </div>
            </div>

            <button class="btn btn-success" @onclick="NextQuestion">Слейдущий вопрос</button>
        </div>
        <div class="col-3" />
    </div>
}

@code {
    public int id { get; set; }
    private string QuestionText;

    [Parameter]
    public string SessionId { get; set; }
    [Parameter]
    public string QuestionnaireId { get; set; }

    private AnswerOption answer = AnswerOption.None;
    private NextQuestion? question;
    private int currentQuestion;
    private int questonniareLength;
    private int questionId;
    private float progress;
    private string userId;
    private bool loadedQuestion;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userId = await GetUserId();
            HttpRequestMessage request = new(HttpMethod.Get, $"/api/users/{userId}/questionnaire/{SessionId}/nextQuestion");
            request.Headers.Add("Origin", "https://localhost:7165");
            HttpResponseMessage response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            string json = await response.Content.ReadAsStringAsync();

            if (string.IsNullOrEmpty(json))
            {
                HttpRequestMessage requestC = new(HttpMethod.Post, $"/api/users/{userId}/questionnaire/{SessionId}/complete");
                requestC.Headers.Add("Origin", "https://localhost:7165");
                request.Content = new StringContent($"{{}}", null, "application/json");
                HttpResponseMessage responseC = await client.SendAsync(requestC);
                responseC.EnsureSuccessStatusCode();
                NavManager.NavigateTo("/result/" + QuestionnaireId);
            }

            JsonSerializerOptions options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
            question = JsonSerializer.Deserialize<NextQuestion>(json, options);

            questionId = question.Id;
            QuestionText = question.Text;
            currentQuestion = question.AnsweredQuestionsCount + 1;
            questonniareLength = question.AllQuestionsCount;
            progress = (float)question.AnsweredQuestionsCount / (float)questonniareLength * 100f;
            loadedQuestion = true;
            StateHasChanged();
        }
    }

    private async Task NextQuestion()
    {
        if (answer != AnswerOption.None)
        {
            HttpRequestMessage request = new(HttpMethod.Post, $"/api/users/{userId}/questionnaire/{SessionId}/storeAnswer/{questionId}");
            request.Headers.Add("Origin", "https://localhost:7165");
            request.Content = new StringContent($"{{\"answer\": {((int)answer).ToString()}}}", null, "application/json");
            HttpResponseMessage response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            NavManager.NavigateTo("/question/" + SessionId + "/" + QuestionnaireId, true);
        }
    }

    private async Task<string?> GetUserId()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var all = user?.Claims.Select(x => new { x.Type, x.Value }).ToList();
        return user?.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
    }

    private void SelectOption(AnswerOption option) => answer = option;
}