@page "/result/{questionnaireId}/{providedUserId:guid?}"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient client

@using System.Security.Claims
@using System.Text.Json
@using PersonalityGuru.Shared.Models

<h1>Results</h1>

@if (result!=null)
{
    <h2>Открытость: @result["O"]</h2>
    <h2>Кропотливость: @result["К"]</h2>
    <h2>Экстраверсия: @result["Э"]</h2>
    <h2>Аккомодация: @result["А"]</h2>
    <h2>Невротичность: @result["Н"]</h2>
}
    
else
{
    <h2>Oops, something went wrong.</h2>
}

@code {
    [Parameter]
    public string questionnaireId { get; set; }
    
    [Parameter]
    public Guid? providedUserId { get; set; }

    private Dictionary<string, double> result;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string userId = (providedUserId?.ToString()) ?? await GetUserId();
            HttpRequestMessage request = new(HttpMethod.Get, $"/api/users/{userId}/questionnaire/{questionnaireId}/results/last");
            request.Headers.Add("Origin", "https://localhost:7165");
            HttpResponseMessage response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            string json = await response.Content.ReadAsStringAsync();
            JsonSerializerOptions options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
            SavedUserAnswers? answers = JsonSerializer.Deserialize<SavedUserAnswers>(json, options);

            result = answers.Result;
            StateHasChanged();
        }
    }

    private async Task<string?> GetUserId()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var all = user?.Claims.Select(x => new { x.Type, x.Value }).ToList();
        return user?.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
    }
}